<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>My Account</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/landingPage" class="brand-logo"><img src="/images/genesis_SUBTHEME_logo.png" /></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/JobSearch">Job Seekers</a></li>
            <li><a href="/WorkerSearch">Talent Seekers</a></li>
            <li><a href="/SignUp">Log Out</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg"/>
         </div>
         <div class="card-tabs">
  <ul class="tabs tabs-fixed-width">
    <li class="tab"><a href="#test4">Search</a></li>
    <li class="tab"><a class="active" href="#test5">Jobs</a></li>
    <li class="tab"><a href="#test6">Manage Profile</a></li>
  </ul>
</div>
<div class="card-content grey lighten-4" >
  <div id="test4" >

    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><a href="/JobSearch"> Back to Job Search -></a></span>

          </br>
        </br>
      </br>
    </br>
  </br>
  </br>
          </div>

          <div class="card-action">

          </div>

        </div>

      </div>

    </div>

  </div>

  <div id="test5">

    <div class="row">
      <div class="col s3">
        <h5>Already Applied</h5>
        <ul class="collection">
          <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
            <span class="title">Litigation Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Paralegal</span>
            <p>Tuscon, AZ <br>
               Entry Level
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Remote Legal Assistant</span>
            <p>Washington, DC <br>
               1+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Contract Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
              <li class="collection-item"><div><strong>See More</strong><a href="./JobSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
      </div>
      <div class="col s3">
        <h5>Match My Profile</h5>
        <ul class="collection">
          <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
            <span class="title">Litigation Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Paralegal</span>
            <p>Tuscon, AZ <br>
               Entry Level
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Remote Legal Assistant</span>
            <p>Washington, DC <br>
               1+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Contract Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
              <li class="collection-item"><div><strong>See More</strong><a href="./JobSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
      </div>
      <div class="col s3">
        <h5>Invited to Interview</h5>
        <ul class="collection">
          <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
            <span class="title">Litigation Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Paralegal</span>
            <p>Tuscon, AZ <br>
               Entry Level
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Remote Legal Assistant</span>
            <p>Washington, DC <br>
               1+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Contract Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
              <li class="collection-item"><div><strong>See More</strong><a href="./JobSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
      </div>
      <ul class="collection">
        <h5>Saved Jobs</h5>
        <li class="collection-item avatar">
        <i class="material-icons circle">business_center</i>
          <span class="title">Litigation Specialist</span>
          <p>Phoenix, AZ <br>
             5+ Years Experience
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
          <span class="title">Paralegal</span>
          <p>Tuscon, AZ <br>
             Entry Level
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
          <span class="title">Remote Legal Assistant</span>
          <p>Washington, DC <br>
             1+ Years Experience
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
          <span class="title">Contract Specialist</span>
          <p>Phoenix, AZ <br>
             5+ Years Experience
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
            <li class="collection-item"><div><strong>See More</strong><a href="./JobSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>
    </div>

      </div>
      <div class="card-action">


      </div>
    </div>
  </div>
</div>
  </div>
  <div id="test6">

        <div class="row">
          <div class="col s6 offset-s3">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Profile / Resume</span>
                  <form action="/EditWorker/:id" method="post">
                  <p>Candidate ID Number: <%= workers.id%></p>
                </br>
                <p><strong>Location: </strong><%= workers.location%></p>
                <div class="input-field col s12">
                <input name="location" placeholder="Location" id="location" type="text" class="validate">
                </div>
              </br>
                <p><strong>Willing to Relocate (enter true or false): </strong><%= workers.relocate%></p>
                <div class="input-field col s12">
                <input name="relocate" placeholder="Relocate" id="relocate" type="text" class="validate">
                </div>
                  </br>
                <p><strong>Experience: </strong><%= workers.experience%> years</p>
                <div class="input-field col s12">
                <input name="experience" placeholder="Experience" id="experience" type="text" class="validate">
                </div>
                  </br>
                  <p><strong>Current Position: </strong><%= workers.current%></p>
                  <div class="input-field col s12">
                  <input name="current" placeholder="Current" id="current" type="text" class="validate">
                  </div>
                    </br>
                    <p><strong>Past Positions: </strong><%= workers.past%></p>
                    <div class="input-field col s12">
                    <input name="past" placeholder="Past" id="past" type="text" class="validate">
                    </div>
                      </br>
                      <p><strong>Interests & Accomplishments: </strong><%= workers.other%></p>
                      <div class="input-field col s12">
                      <input name="other" placeholder="Other" id="other" type="text" class="validate">
                      </div>
                        </br>
                <p><strong>Certifications: </strong><%= workers.certifications%></p>
                <div class="input-field col s12">
                <input name="certifications" placeholder="Certifications" id="certifications" type="text" class="validate">
                </div>
                  </br>
                <p><strong>Licensing: </strong><%= workers.license%></p>
                <div class="input-field col s12">
                <input name="license" placeholder="License" id="license" type="text" class="validate">
                </div>
                  </br>
                <p><strong>Degrees: </strong><%= workers.degrees%></p>
                <div class="input-field col s12">
                <input name="degrees" placeholder="Degrees" id="degrees" type="text" class="validate">
                </div>
                  </br>
                <p><strong>Skills: </strong><%= workers.skills%></p>
                <div class="input-field col s12">
                <input name="skills" placeholder="Skills" id="skills" type="text" class="validate">
                </div>
              </br>
              <p><strong>Username (displayed as title on resume): </strong><%= workers.username%></p>
              <div class="input-field col s12">
              <input name="username" placeholder="Username" id="username" type="text" class="validate">
              </div>
            </br>
            <p><strong>Password: </strong>*******</p>
            <div class="input-field col s12">
            <input name="password" placeholder="Password" id="password" type="text" class="validate">
            </div>
          </br>
          <p><strong>Phone: </strong><%= workers.phone%></p>
          <div class="input-field col s12">
          <input name="phone" placeholder="Phone" id="phone" type="text" class="validate">
          </div>
        </br>
        <p><strong>Email: </strong><%= workers.email%></p>
        <div class="input-field col s12">
        <input name="email" placeholder="Email" id="email" type="text" class="validate">
        </div>
        <p><strong>ID Number: </strong><%= workers.id%></p>
        <div class="input-field col s12">
        <input name="worker" placeholder="Worker ID Number" id="worker" type="text" class="validate">
        </div>
      </br>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
<i class="material-icons right">send</i>
</button>
      </form>
      </br>
            </br>

    </div>
    </div>
    </div>
    </div>

  </div>
</div>
</div>
       </div>

    </br>
    </br>
   </br>
   </br>
   </br>
     </br>
      </br>
      </br>
    </br>
     </br>
     </br>
   </div>
 </br>
  </br>
  </br>
</br>
 </br>
 </br>
</br>
 </br>
 </br>
</br>
</br>
</br>
<footer class="page-footer black">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Corporate Office</h5>
               <p class="grey-text text-lighten-4">
1651 Old Meadow Rd., Ste. 600
</p>
<p class="grey-text text-lighten-4">
McLean, VA 22102
</p>
<p class="grey-text text-lighten-4">
Phone: (703) 564-1649
</p>
<p class="grey-text text-lighten-4">
Fax: (703)734-1932</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">I want to . . . </h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="/JobSearch">Find a job</a></li>
                 <li><a class="grey-text text-lighten-3" href="/WorkerSearch">Find talent</a></li>
                 <li><a class="grey-text text-lighten-3" href="/SignUp">Log Out</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2018 Copyright
           <a class="grey-text text-lighten-4 right" href="https://unsplash.com/@andersjilden">Photo by Anders Jildén on Unsplash</a>
           </div>
         </div>
       </footer>


  </body>
</html>
