<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>My Account</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/landingPage" class="brand-logo"><img src="/images/genesis_SUBTHEME_logo.png" /></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/JobSearch">Job Seekers</a></li>
            <li><a href="/WorkerSearch">Talent Seekers</a></li>
            <li><a href="/SignUp">Log Out</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg"/>
         </div>
         <div class="card-tabs">
  <ul class="tabs tabs-fixed-width">
    <li class="tab"><a href="#test4">Manage Listings</a></li>
    <li class="tab"><a class="active" href="#test5">Candidates</a></li>
    <li class="tab"><a href="#test6">Manage Profile</a></li>
  </ul>
</div>
<div class="card-content grey lighten-4">
  <div id="test4">
  <div class="row">
    <div class="col s6">
      <h4>Current Listings</h4>
      <ul class="collection">
        <li class="collection-item avatar">
        <i class="material-icons circle">business_center</i>
          <span class="title">Litigation Specialist</span>
          <p>Phoenix, AZ <br>
             5+ Years Experience
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
          <span class="title">Paralegal</span>
          <p>Tuscon, AZ <br>
             Entry Level
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
          <span class="title">Remote Legal Assistant</span>
          <p>Washington, DC <br>
             1+ Years Experience
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
          <span class="title">Contract Specialist</span>
          <p>Phoenix, AZ <br>
             5+ Years Experience
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
            <li class="collection-item"><div><strong>See More</strong><a href="./JobSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>
    </div>

        <div class="col s6">
          <h4>Add a Listing</h4>
            <form action="/NewJob" method="post">
              <p>Company ID Number: <%= employers.id%></p>
              <br/>
              <div class="input-field col s6">
  <input name="location" placeholder="Location" id="location" type="text" class="validate">
  <label for="location">Location</label>
</div>
<div class="input-field col s6">
<input name="experience" placeholder="Experience" id="experience" type="text" class="validate">
<label for="Experience">Experience</label>
</div>
<div class="input-field col s6">
<input name="certifications" placeholder="Certifications" id="certifications" type="text" class="validate">
<label for="certifications">Certifications</label>
</div>
<div class="input-field col s6">
<input name="licensing" placeholder="Licensing" id="Licensing" type="text" class="validate">
<label for="Licensing">Licensing</label>
</div>
<div class="input-field col s6">
  <input name="degrees" placeholder="Degrees" id="Degrees" type="text" class="validate">
  <label for="Degrees">Degrees</label>
</div>
<div class="input-field col s6">
  <input name="skills" placeholder="Skills" id="Skills" type="text" class="validate">
  <label for="Skills">Skills</label>
</div>
<div class="input-field col s6">
  <input name="description" placeholder="Description" id="Description" type="text" class="validate">
  <label for="Description">Description</label>
</div>
<div class="input-field col s6">
  <input name="company" placeholder="Company ID Number" id="Company" type="text" class="validate">
  <label for="Company">Company ID Number</label>
</div>

              <button class="btn waves-effect waves-light" type="submit" name="action">Add
<i class="material-icons right">send</i>
</button>
            </form>
        </div>

  </div>
</div>
  <div id="test5">
    <div class="row">
      <div class="col s3">
        <h5>Already Applied</h5>
        <ul class="collection">
          <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
            <span class="title">Litigation Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Paralegal</span>
            <p>Tuscon, AZ <br>
               Entry Level
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Remote Legal Assistant</span>
            <p>Washington, DC <br>
               1+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Contract Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
              <li class="collection-item"><div><strong>See More</strong><a href="./JobSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
      </div>
      <div class="col s3">
        <h5>Match My Jobs</h5>
        <ul class="collection">
          <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
            <span class="title">Litigation Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Paralegal</span>
            <p>Tuscon, AZ <br>
               Entry Level
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Remote Legal Assistant</span>
            <p>Washington, DC <br>
               1+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Contract Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
              <li class="collection-item"><div><strong>See More</strong><a href="./JobSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
      </div>
      <div class="col s3">
        <h5>Invited to Interview</h5>
        <ul class="collection">
          <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
            <span class="title">Litigation Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Paralegal</span>
            <p>Tuscon, AZ <br>
               Entry Level
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Remote Legal Assistant</span>
            <p>Washington, DC <br>
               1+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">business_center</i>
            <span class="title">Contract Specialist</span>
            <p>Phoenix, AZ <br>
               5+ Years Experience
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
          </li>
              <li class="collection-item"><div><strong>See More</strong><a href="./JobSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
      </div>
      <ul class="collection">
        <h5>Saved Candidates</h5>
        <li class="collection-item avatar">
        <i class="material-icons circle">business_center</i>
          <span class="title">Litigation Specialist</span>
          <p>Phoenix, AZ <br>
             5+ Years Experience
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
          <span class="title">Paralegal</span>
          <p>Tuscon, AZ <br>
             Entry Level
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
          <span class="title">Remote Legal Assistant</span>
          <p>Washington, DC <br>
             1+ Years Experience
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">business_center</i>
          <span class="title">Contract Specialist</span>
          <p>Phoenix, AZ <br>
             5+ Years Experience
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
            <li class="collection-item"><div><strong>See More</strong><a href="./JobSearch.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>
    </div>

      </div>
      <div class="card-action">


      </div>
    </div>
    </div>
    </div>
      </div>
      <div class="card-action">


      </div>
    </div>
  </div>
</div>
  </div>
  <div id="test6">
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Profile</span>
            <p><strong>Company: </strong><%= employers.company%></p>
          </br>
          <p><strong>Contact Person: </strong><%= employers.cp%></p>
        </br>
            <p><strong>Locations: </strong><%= employers.locations%></p>
          </br>
          <p><strong>Username: </strong><%= employers.username%></p>
        </br>
        <p><strong>Password: </strong>********</p>
      </br>
      <p><strong>Phone: </strong><%= employers.phone%></p>
    </br>
    <p><strong>Email: </strong><%= employers.email%></p>
  </br>
        </br>
</div>
</div>
</div>
</div>


  </div>
</div>
</div>
       </div>

    </br>
    </br>
   </br>
   </br>
   </br>
     </br>
      </br>
      </br>
    </br>
     </br>
     </br>
   </div>
 </br>
  </br>
  </br>
</br>
 </br>
 </br>
</br>
 </br>
 </br>
</br>
</br>
</br>
<footer class="page-footer black">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Corporate Office</h5>
               <p class="grey-text text-lighten-4">
1651 Old Meadow Rd., Ste. 600
</p>
<p class="grey-text text-lighten-4">
McLean, VA 22102
</p>
<p class="grey-text text-lighten-4">
Phone: (703) 564-1649
</p>
<p class="grey-text text-lighten-4">
Fax: (703)734-1932</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">I want to . . . </h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="/JobSearch">Find a job</a></li>
                 <li><a class="grey-text text-lighten-3" href="/WorkerSearch">Find talent</a></li>
                 <li><a class="grey-text text-lighten-3" href="/SignUp">Log Out</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2018 Copyright
           <a class="grey-text text-lighten-4 right" href="#!">Photo by Anders Jildén on Unsplash</a>
           </div>
         </div>
       </footer>


  </body>
</html>
